<nav class="navbar navbar-dark bg-primary">
    <img src="../assets/book.png" alt="booklogo">
    <h4>Book Store Management</h4>
    <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
</nav>
<form #usersForm="ngForm" (ngSubmit)="getUserFormData(usersForm.value)">
    <div class="mb-3">
        <label class="form-label">Book Name</label>
        <input ngModel name="bookname" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
        <label for="exampleInputid1" class="form-label">Book Id</label>
        <input ngModel name="bookId" type="text" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="mb-3">
        <label for="exampleInputid1" class="form-label">student Id</label>
        <input ngModel name="studentId" type="text" class="form-control" id="exampleInputPassword1">
    </div>

    <button type="Add book" class="btn btn-primary">Add book</button>
</form>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">book Name</th>
            <th scope="col">Book Id</th>
            <th scope="col">student Id</th>
            <th scope="col">Operation</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let users of users">
            <td>{{users.id}}</td>
            <td>{{users.bookname}} </td>
            <td>{{users.bookId}}</td>
            <td>{{users.studentId}}</td>
            <button (click)="deletebook(users.id)">sell</button>

        </tr>
    </tbody>

</table>